* {
	margin: 0;
	padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#page-wrap {
	margin: 2% auto;
	color: white;
}

#page-wrap > .main{
	border: 1px solid #999;
	padding: 1%;
	margin-bottom: 1px;
	color: black;
}

section > div { padding: 20px; }

header, nav, section {
	background: #eee;
	text-align: center
}

nav span, footer span {
	margin: 0px 10px 0px 0px;
}
	
footer {
	background: #333;
	height: 20px;
	text-align: center;
}

footer li {
	list-style-type: none;
	color: white;
	display: inline;
	padding: 0 5px;
}

footer a {
	text-decoration: none;
	color: white;
}

#creditos {
	border: 1px solid #333;
	padding: 5px 5px 5px 5px;
}

#creditos img {
	width: 200px;
	height: 200px;
}

#creditos video {
	width: 360px;
	height: 210px;	
}